<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864510601792-5jtv449ou8sdi5d7u8amnhflqkd62v6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864510601792-5jtv449ou8sdi5d7u8amnhflqkd62v6e</string>
	<key>API_KEY</key>
	<string>AIzaSyBOywhsYmcX7tckqAlD5xXgcQ_d3O4ln7A</string>
	<key>GCM_SENDER_ID</key>
	<string>864510601792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.licenseplatedetector</string>
	<key>PROJECT_ID</key>
	<string>license-plate-detector-1b4ea</string>
	<key>STORAGE_BUCKET</key>
	<string>license-plate-detector-1b4ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864510601792:ios:cf179c7318d4a641d3cda5</string>
</dict>
</plist>